In [1]:
import numpy as np
import pandas as pd

In [2]:
df_votants = pd.read_csv('database_deputes.csv', index_col=0)
df_votes2 = pd.read_csv('database_votes2.csv', index_col=0)

In [3]:
df_votes = df_votes2[['idScrutin', 'idVotant']]

In [4]:
copy = df_votes2.copy()
copy = copy.pivot(index = 'idVotant', columns = 'idScrutin', values = 'vote')

In [5]:
#on remplace les NaN par de l'abstention (en confondant abstention et non-votant)
copy = copy.fillna('0')

copy = copy.replace(['Pour'],'1')
copy = copy.replace(['Contre'],'1')
copy = copy.replace(['Non-votant'],'1')

In [6]:
copy.unstack()

idScrutin  idVotant
0          PA1008      0
           PA1012      0
           PA1029      0
           PA1198      0
           PA1206      0
                      ..
3116       PA774962    0
           PA856       0
           PA923       0
           PA942       0
           PA998       0
Length: 1792275, dtype: object

In [7]:
copy2 = pd.DataFrame(copy.unstack())

In [8]:
copy2 = copy2.reset_index()

In [9]:
copy2 = copy2.rename(columns = {0 : 'présence'})

In [10]:
copy2 = copy2.sort_values(['idScrutin', 'idVotant'])
copy2

         idScrutin  idVotant présence
0                0    PA1008        0
1                0    PA1012        0
2                0    PA1029        0
3                0    PA1198        0
4                0    PA1206        0
...            ...       ...      ...
1792270       3116  PA774962        0
1792271       3116     PA856        0
1792272       3116     PA923        0
1792273       3116     PA942        0
1792274       3116     PA998        0

[1792275 rows x 3 columns]

In [11]:
df_votes.sort_values(['idScrutin', 'idVotant'])

        idScrutin  idVotant
54              0    PA1838
45              0  PA266793
41              0  PA266797
52              0  PA267780
50              0  PA331567
...           ...       ...
290434       3116  PA722202
290440       3116  PA722292
290359       3116  PA722336
290404       3116  PA722398
290457       3116  PA748954

[290496 rows x 2 columns]

In [12]:
bjr = copy2.merge(df_votes, on = ['idScrutin', 'idVotant'], how = 'outer')

In [13]:
bjr

         idScrutin  idVotant présence
0                0    PA1008        0
1                0    PA1012        0
2                0    PA1029        0
3                0    PA1198        0
4                0    PA1206        0
...            ...       ...      ...
1792270       3116  PA774962        0
1792271       3116     PA856        0
1792272       3116     PA923        0
1792273       3116     PA942        0
1792274       3116     PA998        0

[1792275 rows x 3 columns]

In [14]:
df_votes2 = df_votes2[['idVotant', 'Groupe politique (complet)']]

In [ ]:
bjr2 = df_votes2.merge(bjr, on = ['idVotant'], how = 'outer')

In [ ]:
bjr2